---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title="Blog">
    <ul id="blog-body" class="opacity-0">
        {
            posts
                .sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()) // Sort posts by publication date in descending order
                .map((post) => (
                    <li class="py-4 my-0">
                        <a href={`/blog/${post.slug}/`} class="lg:flex">
                            <p class="text-teal-300 pl-5 lg:m-0 lg:py-5 lg:pr-3 lg:pl-0"><FormattedDate date={post.data.pubDate} /></p>
                            <div class="hover:bg-gray-800 rounded-md p-5">
                                <h3 class="text-gray-200">{post.data.title}</h3>
                                <p class="text-gray-400 mb-0">{post.data.description}</p>
                            </div>
                        </a>
                    </li>
                ))
        }
    </ul>
</Layout>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        await new Promise(resolve => setTimeout(resolve, 300));
        await fadeIn(document.getElementById('blog-body'), 800);
    });

    function fadeIn(element, duration) {
        return new Promise<void>(resolve => {
            let opacity = 0;
            const interval = setInterval(() => {
                opacity += 0.01;
                element.style.opacity = opacity;

                if (opacity >= 1) {
                    clearInterval(interval);
                    resolve();
                }
            }, duration / 100);
        });
    }
</script>