/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

* {
    font-family: "Work Sans", sans-serif;
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    margin: auto;
    width: 80%;

    @media (min-width: 640px) {
        width: 80%;
    }

    @media (min-width: 768px) {
        width: 66.666667%;
    }
    @media (min-width: 1024px) {
        width: 45%;
    }        
}

h1 {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    margin-bottom: 1rem;
    
    @media (min-width: 640px) {
            font-size: 1.875rem/* 30px */;
            line-height: 2.25rem/* 36px */;
    }

    @media (min-width: 1024px) {
        font-size: 2.25rem/* 36px */;
        line-height: 2.5rem/* 40px */;
    }    

}

h2 {
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    margin-bottom: 1rem;

    @media (min-width: 640px) {
        font-size: 1.5rem/* 24px */;
        line-height: 2rem/* 32px */;
    }

    @media (min-width: 1024px) {
        font-size: 1.875rem/* 30px */;
        line-height: 2.25rem/* 36px */;
    }
}

h3 {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    margin-bottom: 1rem;

    @media (min-width: 640px) {
        font-size: 1.25rem/* 20px */;
        line-height: 1.75rem/* 28px */;
    }
    
    @media (min-width: 1024px) {
        font-size: 1.5rem/* 24px */;
        line-height: 2rem/* 32px */;
    }    
}

h4 {
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
    margin-bottom: 1rem;

    @media (min-width: 640px) {
        font-size: 1.125rem/* 18px */;
        line-height: 1.75rem/* 28px */;
    }

    @media (min-width: 1024px) {
        font-size: 1.25rem/* 20px */;
        line-height: 1.75rem/* 28px */;
    }    
}

h5 {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;    
    margin-bottom: 1rem;

    @media (min-width: 640px) {
        font-size: 1rem/* 16px */;
        line-height: 1.5rem/* 24px */;    
    }

    @media (min-width: 1024px) {
        font-size: 1.125rem/* 18px */;
        line-height: 1.75rem/* 28px */;
    }
}

h6 {
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
    margin-bottom: 1rem;

    @media (min-width: 640px) {
        font-size: 0.875rem/* 14px */;
        line-height: 1.25rem/* 20px */;    
    }

    @media (min-width: 1024px) {
        font-size: 1rem/* 16px */;
        line-height: 1.5rem/* 24px */;
    }
}

p {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

hr {
    --tw-border-opacity: 1;
    border-color: rgb(31 41 55 / var(--tw-border-opacity));
}