* {
    font-family: "Work Sans", sans-serif;
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    margin: auto;
    width: 80%;

    @media (min-width: 640px) {
        width: 80%;
    }

    @media (min-width: 768px) {
        width: 65%;
    }
    @media (min-width: 1024px) {
        width: 70%;
    }        
    @media (min-width: 1280px) {
        width: 50%;
    }        
}

h1 {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    margin-bottom: 1rem;
    
    @media (min-width: 640px) {
        font-size: 1.875rem/* 30px */;
        line-height: 2.25rem/* 36px */;
    }

    @media (min-width: 1024px) {
        font-size: 2rem/* 36px */;
        line-height: 2.5rem/* 40px */;
    }    

    @media (min-width: 1560px) {
        font-size: 3rem/* 36px */;
        line-height: 2.5rem/* 40px */;
    }
}

h2 {
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    margin-bottom: 1rem;

    @media (min-width: 640px) {
        font-size: 1.5rem/* 24px */;
        line-height: 2rem/* 32px */;
    }

    @media (min-width: 1024px) {
        font-size: 1.875rem/* 30px */;
        line-height: 2.25rem/* 36px */;
    }
}

h3 {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    margin-bottom: 1rem;

    @media (min-width: 640px) {
        font-size: 1.25rem/* 20px */;
        line-height: 1.75rem/* 28px */;
    }
    
    @media (min-width: 1024px) {
        font-size: 1.5rem/* 24px */;
        line-height: 2rem/* 32px */;
    }    
}

h4 {
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
    margin-bottom: 1rem;

    @media (min-width: 640px) {
        font-size: 1.125rem/* 18px */;
        line-height: 1.75rem/* 28px */;
    }

    @media (min-width: 1024px) {
        font-size: 1.25rem/* 20px */;
        line-height: 1.75rem/* 28px */;
    }    
}

h5 {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;    
    margin-bottom: 1rem;

    @media (min-width: 640px) {
        font-size: 1rem/* 16px */;
        line-height: 1.5rem/* 24px */;    
    }

    @media (min-width: 1024px) {
        font-size: 1.125rem/* 18px */;
        line-height: 1.75rem/* 28px */;
    }
}

h6 {
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
    margin-bottom: 1rem;

    @media (min-width: 640px) {
        font-size: 0.875rem/* 14px */;
        line-height: 1.25rem/* 20px */;    
    }

    @media (min-width: 1024px) {
        font-size: 1rem/* 16px */;
        line-height: 1.5rem/* 24px */;
    }
}

p {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

pre {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 5px;
}

a {
    color: #5eead4;
}

hr {
    --tw-border-opacity: 1;
    border-color: rgb(31 41 55 / var(--tw-border-opacity));
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}

.animate-bounce {
    animation: bounce 1s 5.5;
}

.card-shine-effect {
    --shine-deg: 45deg;
    position: relative;
    overflow: hidden;
    border-radius: 0.875rem;
    border: 1px solid rgb(15 23 42);
    background-color: rgb(9 9 11);
    padding: 4rem 2rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    max-width: 28rem;
  
    background-repeat: no-repeat;
    background-position: -100% 0, 0 0;
  
    background-image: linear-gradient(
      var(--shine-deg),
      transparent 20%,
      transparent 40%,
      rgb(68, 68, 68, 0.2) 50%,
      rgb(68, 68, 68, 0.2) 55%,
      transparent 70%,
      transparent 100%
    );
  
    background-size: 250% 250%, 100% 100%;
    transition: background-position 0s ease;
}
  
.card-shine-effect:hover {
background-position: 200%0, 0 0;
transition-duration: 1.5s;
}