---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<Header />
		<main class="">
			<div class="h-[90vh] flex flex-col justify-center"></div>
		</main>
		<Footer />
		<script>
			/*
		document.addEventListener('DOMContentLoaded', async () => {
			await animateText(document.getElementById('animate1'), 60),
			await new Promise(resolve => setTimeout(resolve, 800));
			await fadeIn(document.getElementById('animate2'), 700);
			await new Promise(resolve => setTimeout(resolve, 500));
			await fadeIn(document.getElementById('animate3'), 50);
		});

		function fadeIn(element, duration) {
			return new Promise<void>(resolve => {
				let opacity = 0;
				const interval = setInterval(() => {
					opacity += 0.01;
					element.style.opacity = opacity;

					if (opacity >= 1) {
						clearInterval(interval);
						resolve();
					}
				}, duration / 100);
			});
		}

		function generateRandomCharacter() {
			const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*()-_=+';
			return characters.charAt(Math.floor(Math.random() * characters.length));
  		}

		function animateText(element, duration) {
			return new Promise<void>(resolve => {
				const originalText = element.textContent;
				const length = originalText.length;
				let counter = 0;
				const interval = setInterval(() => {
			  		let newText = '';
			  		for (let i = 0; i < length; i++) {
						if (i <= counter) {
				  			newText += originalText.charAt(i);
						} else {
				  			newText += generateRandomCharacter();
						}
			  		}
			  	
					element.textContent = newText;
				  	counter++;
				  	if (counter > length) {
						clearInterval(interval);
						element.textContent = originalText;
				  	}
				}, duration);

				setTimeout(() => {
					resolve();
				}, duration * 10);
			});
		} */
		</script>
	</body>
</html>