---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
---

<Layout title="Home">
	<Navbar />
	<section class="bg-beige w-full min-h-screen flex flex-col items-center justify-center">
		<h1 class="font-serif text-8xl text-center">Revati<br />Tambe</h1>
	</section>

	<!-- <section id="about" class="bg-pink w-full min-h-screen flex flex-col p-0">
		<div>
			<h1 class="font-serif text-7xl">About Me</h1>
			<p class="font-sans text-3xl tracking-tight">Hi there, I&rsquo;m Revati! I&rsquo;m a high school student in the Bay Area, CA.
				<br />
				<br />
				I&rsquo;m curious how the brain works and how tech can help us understand it better. That curiosity has grown into an interest in neurotech and machine learning, where I hope to combine engineering with research to build tools that make a real impact.
				<br />
				<br />
				In my free time you&rsquo;ll find me crafting beats, out for a run, taking digicam photos, playing my guitar, attending hackathons, and cafe hopping.
			</p>
		</div>
		<div>

		</div>
	</section> -->

	<About />


	<section id="projects" class="bg-beige w-full min-h-screen flex flex-col items-center justify-center">
		<h1 class="font-serif">Revati Tambe</h1>
	</section>
	<section class="bg-beige w-full min-h-screen flex flex-col items-center justify-center">
		<h1 class="font-serif">Revati Tambe</h1>
	</section>
	<section id="contact" class="bg-blue w-full min-h-screen flex flex-col items-center justify-center">
		<h1 class="font-serif">Revati Tambe</h1>
	</section>
</Layout>