---
import idCard from "../assets/about-images/pinterest-id.png";
import receipt from "../assets/about-images/spotify-receipt.png";
---


<section id="about" class="min-h-screen bg-pink px-20 py-24 flex">
  <!-- Left side text -->
  <div class="w-1/2 pl-4 pr-12 flex flex-col justify-center">
    <h2 class="text-7xl font-serif mb-8">About Me</h2>
    <p class="font-sans text-3xl tracking-tight mb-6">
      Hi there, I&rsquo;m Revati! I&rsquo;m a high school student in the Bay Area, CA.
    </p>
    <p class="font-sans text-3xl tracking-tight mb-6">
      I&rsquo;m curious how the brain works and how tech can help us understand it better.
      That curiosity has grown into an interest in neurotech and machine learning,
      where I hope to combine engineering with research to build tools that make a
      real impact.
    </p>
    <p class="font-sans text-3xl tracking-tight">
      In my free time you&rsquo;ll find me crafting beats, out for a run, taking digicam photos,
      playing my guitar, attending hackathons, and cafe hopping.
    </p>
  </div>

  <!-- Right side collage -->
  <div class="w-1/2 relative">
    <!-- receipt behind -->
    <img 
      src={receipt.src}
      alt="Spotify Receipt"
      class="select-none w-72 rotate-14 shadow-md absolute -top-24 right-16 z-0"
    />
    <!-- id card in front -->
    <img 
      src={idCard.src}
      alt="Green ID Card"
      class="select-none w-120 rotate-2 absolute top-0 right-16 z-10"
    />
  </div>
</section>