---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<nav class="h-[10vh] text-gray-400 flex justify-between items-center text-lg md:text-xl py-9">
		<a class="hover:text-gray-200" href="/">/</a>
		<div class="flex gap-10">
			<HeaderLink href="/" class="hover:text-gray-200">/home</HeaderLink>
			<HeaderLink href="/blog" class="hover:text-gray-200">/blog</HeaderLink>
			<HeaderLink href="/about" class="hover:text-gray-200">/about</HeaderLink>
		</div>
	</nav>
	<hr>
</header>