---

---

<nav class="bg-beige pt-10 pb-0 px-0 text-center top-0 left-0 w-full font-sans text-4xl shadow flex justify-center space-x-32 z-50">
    <a href="#about" class="transition-colors duration-300 hover:text-[#d690a1]">about</a>
    <a href="#projects" class="transition-colors duration-300 hover:text-green">projects</a>
    <a href="#contact" class="transition-colors duration-300 hover:text-[#62b4de]">contact</a>
</nav>