@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'pavon';
    src: url('/src/assets/fonts/pavon.otf') format('otf');
}
  
/* @font-face {
    font-family: 'ghisel';
    src: url('/src/assets/fonts/custom-font-bold.woff2') format('woff2');
} */
  
:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #FFFCF2;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}