@font-face {
    font-family: 'Pavon';
    src: local('Pavon'), url('./fonts/Pavon.otf') format('otf');
}

:root {
    font-family: 'Pavon', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #FFFCF2;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}